.sectionFeu{
  margin: auto;
  width: 350px;
}
.lamp {
    height: 30px;
    width: 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    margin-bottom: 5px;
}
.lampRed {
    background-color: red;
}
.lampYellow {
    background-color: yellow;
}
.lampGreen {
    background-color: green;
}

#trafficLight{
    width: 20rem;
    height: 15rem;
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .text{
     margin-top: 20px;
     margin-bottom: 20px;
 }
